* {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}

body {
  font-family: "Catamaran", sans-serif;
  @apply bg-blue-100;
}

q {
  font-family: "Parisienne", cursive;
}
